<div class="footer-bg">
    <div class="row footer-data">
        <div class="col-3 footer-block">
            <div class="footer-block-title">CONTACTO</div>
            <div class="footer-block-content">
                <div>
                    <fa-icon class="footer-icon" [icon]="faMapMarkerAlt" size="sm"></fa-icon>
                    Escuela Técnica Superior de Ingeniería Informática, 28660 Boadilla
                    del
                    Monte, Madrid</div>
            </div>
        </div>
        <div class="col-3 footer-block">
            <div class="footer-block-title">SÍGUENOS</div>
            <div class="footer-block-content">
                <a href="https://twitter.com/cslabupm">
                    <fa-icon class="footer-icon" [icon]="faTwitter" size="lg"></fa-icon>
                </a>
                <a href="https://www.facebook.com/cslabupm/">
                    <fa-icon class="footer-icon" [icon]="faFacebook" size="lg"></fa-icon>
                </a>
                <a href="https://www.instagram.com/cslabupm/">
                    <fa-icon class="footer-icon" [icon]="faInstagram" size="lg"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-logos">
        <img class="footer-logo" src="../../../assets/img/logos/logo-upm.png">
        <img class="footer-logo" src="../../../assets/img/logos/logo-cslab-hz.png">
        <img class="footer-logo" style="padding: 3px;" src="../../../assets/img/logos/logo_ofs_dark.png">
    </div>
</div>