/* On scroll changes to background-color: #272727; */

nav {
    background-color: transparent;
    transition: background-color 0.4s ease-out;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: auto;
}

.navbar-logo {
    height: 35px;
    width: auto;
    margin-top: -15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-link {
    cursor: pointer;
}

.dropdown-menu {
    background-color: #2c5894;
    border-radius: 15px;
    min-width: 100%;
    min-width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    min-width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    min-width: fill-available;
    padding: 0;
}

.dropdown-item {
    color: white !important;
    font-size: unset !important;
    border-radius: 15px;
}

.dropdown-item:hover {
    background-color: #3a7ad4;
}

.dropdown-toggle::after {
    margin-left: 0.355em;
    vertical-align: 0.155em;
}

nav ul a {
    font-size: 19px !important;
}