.equipment-container {
    margin-top: 66px;
    position: relative;
    width: 100%;
    padding: 0 20px;

    .selected {
        color:#677FE8;
    }
    .equipment-title {
        font-size: 36px;
        text-align: center;
        margin: 50px 0px;
        margin-top: 100px;
        position: relative;
    }
    .buttons {
        text-align: center;
    }
    .button-filter {
        cursor: pointer;
        display: inline-block;
        margin: 0px 5px;
        border-radius: 15px;
        background-color: #ffffff00;
        border: 1px solid;
        padding: 0px 10px;
        font-size: 13px;
    }
    .equipment-img {
        img {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            padding: 0px 15px;
            max-height: 250px;
        }
    }
    .equipment-device {
        margin: 36px 0;
        background-color: #ffffffe8;
        font-size: 12px;
        padding: 20px;
        color: black;
        border-radius: 20px;
    }
    .equipment-device-container {
        padding: 0px 40px;
    }
}