<div class="container flow-text white-text">
    <div class=" center-align">
        <div *ngFor="let elem of types" class="button-filter card transparent z-depth-5" [ngClass]="{selected: selectedType === elem.type}" (click)="filterEquipment(elem.type)">
            <div>{{elem.label}}</div>
        </div>
    </div>
    <div class="container">
        <div class="row card transparent no-padding z-depth-5" *ngFor="let device of showingEquipment">
            <div>
                <div class="col s12 m12 l8">
                    <img class="image" src="{{device.image}}">
                    <!-- <div class="col-12 row"> -->
                </div>
                <div class="col s12 m12 l4">
                    <div class="card-content">

                        <h1 class="card-title">{{device.model}}</h1>

                        <p>{{device.description}}</p>
                        <div class="card transparent " *ngFor="let property of device.properties ">
                            <div>
                                <h5 class="card-title col s4 l12 ">{{property.name}}</h5>
                                <p class="col s8 l12 ">{{property.value}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>